.form_widget_amount_slider
{
   border-top:1px solid #9d9c99;
   border-left:1px solid #9d9c99;
   border-bottom:1px solid #eee;
   border-right:1px solid #eee;
   background-color:#f0ede0;
   height:3px;
   position:absolute;
   bottom:0px;
}